.card {
  animation-name: drawCard;
  animation-duration: 1.5s;
}

.playCard {
  animation-name: playCard;
  animation-duration: 1.5s;
}

.discardCard {
  animation-name: discardCard;
  animation-duration: 3s;
}

@keyframes drawCard {
  0% {
    opacity: 0;
    transform: translateX(350px);
  }

  20% {
    opacity: 0.8;
  }

  100% {
    opactiy: 1;
    transform: translate(0);
  }
}

@keyframes playCard {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-150px);
  }
}

@keyframes discardCard {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
