.card {
  animation-name: drawCard;
  animation-duration: 1.5s;
  max-height: 120px;
  max-width: 80px;
}

.playCard {
  animation-name: playCard;
  animation-duration: 2s;
}

.discardCard {
  animation-name: discardCard;
  animation-duration: 2s;
}

.selectCard {
  animation-name: selectCard;
  animation-duration: 1s;
  filter: brightness(25%);
}

@keyframes drawCard {
  0% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes playCard {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: translateY(-150px);
  }

  100% {
    opacity: 0;
    transform: translateY(-150px);
  }
}

@keyframes discardCard {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes selectCard {
  100% {
    filter: brightness(25%);
  }
}
