#dash-box {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

#dash-displays-box {
  display: flex;
  justify-content: space-evenly;
}

#dash-bottom-box {
  display: flex;
  justify-content: space-evenly;
}

#center-panel {
  width: 800px;
}

.bottom-terminal {
  width: 320px;
  height: 120px;
}
#card-description {
  width: 300px;
  height: 100px;
  font-size: 25px;
  background-color: hsla(120, 93%, 72%, 0.1);
  color: white;
  padding: 10px;
  position: relative;
}

#card-description-span {
  padding: 10px 20px;
  position: absolute;
}

#enemy-display {
  padding: 10px;
  width: 300px;
  height: 100px;
  background-color: hsla(0, 100%, 50%, 0.1);
  font-size: 25px;
  color: #ffbb00;
  position: relative;
}

#enemy-display-span {
  padding: 10px 20px;
  position: absolute;
}

#end-turn-button {
  align-self: center;
  background-color: red;
  border: 3px solid black;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

#game-controls {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#player-hand {
  width: 80%;
}

#player-deck {
  position: relative;
}

#deck-size {
  font-size: 30px;
  position: absolute;
  right: 1px;
  bottom: 90%;
  color: red;
}

#right-panel {
  position: relative;
}

#enemy-shields-num,
#enemy-armor-num {
  padding: 15px;
  font-size: 25px;
  position: absolute;
  color: #6f6;
}
