@import "reset.css";
@import "information.scss";
@import "animations.scss";
@import "dashboard.scss";
@import "util.scss";
@import "top-panel.scss";
@import "popups.scss";

* {
  font-family: "VT323";
}

#game-box {
  position: absolute;
  height: 800px;
}

#game-screen {
  width: 1600px;
  height: 800px;
  border: 1px solid black;
  z-index: -1;
  position: relative;
}

#main-outer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-inner {
  height: 100%;
  width: 1600px;
  position: relative;
  display: block;
  margin: auto;
}

#cockpit-div {
  display: flex;
  width: 100%;
}

#top-dash {
  position: fixed;
  width: 100vw;
  max-height: 100px;
  min-height: 100px;
}

#bottom-dash {
  position: fixed;
  width: 100vw;
  bottom: 0px;
}

.canvas-image {
  display: none;
}
