@import "reset.css";
@import "information.scss";
@import "animations.scss";
@import "dashboard.scss";
@import "util.scss";
@import "top-panel.scss";

* {
  font-family: "VT323";
}

#game-screen {
  position: relative;
}

#main-outer {
  display: flex;
}

#main-inner {
  width: 1400px;
}

#cockpit-div {
  display: flex;
  width: 100%;
}

#cockpit {
  display: flex;
  position: absolute;
  margin: auto;
}

#main-inner {
  display: block;
  margin: auto;
}

#game-screen {
  border: 1px solid black;
  z-index: -1;
}

#img_background,
#img_player,
#img_npc1,
#img_laser,
#img_missle,
#img_explosion,
#img_shields,
#img_npc1a1,
#img_npc1a2,
#img_npc1shields,
#img_newshields {
  display: none;
}
