@import "reset.css";

* {
  font-family: "VT323";
}

#main-outer {
  display: flex;
}

#cockpit-div {
  display: flex;
}

#cockpit {
  display: flex;
  position: absolute;
  left: 126px;
}

#main-inner {
  display: block;
  margin: auto;
}

#game-screen {
  border: 1px solid black;
  z-index: -1;
}

#img_background,
#img_player,
#img_npc1,
#img_attack,
#img_recharge {
  display: none;
}

#dash-outer {
  margin-top: 20px;
  position: relative;
  z-index: 2;
  width: 100%;
}

#dash-inner {
  display: flex;
  margin: auto;
}

#game-controls {
  border: 1px solid red;
  height: 400px;
  width: 1400px;
  display: flex;
  margin-top: 20px;
}

#text-panel {
  display: flex;
  justify-content: space-around;

  div {
    border: 3px solid black;
    background-color: #282828;
  }
}

#card-description {
  width: 400px;
  height: 50px;
  font-size: 20px;
  color: #6f6;
}
#card-errors {
  width: 400px;
  height: 50px;
  color: #ffbb00;
}

#player-hand {
  width: 1000px;
  border: 1px solid red;
}

#player-status {
  width: 300px;
  color: #6f6;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
